* {
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: slategray;
}
canvas {
  display: block;
}

#panel {
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
  border-right: 4px solid rgba(255, 255, 255, 0.3);
}
